
/* faz a cor de fundo e tal, obviamente*/
body{
    background: rgb(124, 157, 111);
    font: normal 16pt Arial;

}
/* esse bota o titulo, o lugar q fica, a cor etc*/
header {
    color: rgb(255, 255, 255);
    text-align: center;

}
/* fez aquela sessão do meio, onde a gente vai escrever*/
section{
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 20px; color: rgba(0, 0, 0, 0.35);
}

div { 
    text-align: center;
    padding: 10px;
}
/* bota o nomezinho la em baixo, tipo a marca, copyright sei la*/
footer {
    color: rgb(68, 17, 17);
    text-align: center;
    font-style: italic;

}